body{
    background-color: darkslategray;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin: auto;
    background-color: black;
    width: 800px;
    padding: 30px;
    overflow: hidden;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style: none;
}
ul.slider {
    position: relative;
    width: 800px;
    height: 300px;
}
ul.slider li {
    position: absolute;
}
